html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hero-section {
  min-height: 100vh;
  background-image: url("Image/Home-img.jpg");
  background-size: cover;
  background-position: center;
}

.navbar {
  padding: 20px 0;
  transition:  0.3s ease;
}

.navbar-nav {
  margin-left: 50%;
}

.nav-link {
  font-weight: 500;
  color: #000 !important;
}

/* Navbar BLACK when dropdown open */
.navbar.dropdown-active {
  background:  black;
;
}

.navbar.dropdown-active .nav-link,
.navbar.dropdown-active .navbar-brand {
  color: #fff !important;
}

/* MEGA DROPDOWN */
.mega-dropdown {
  border-radius: 0;
  border: none;
  background: #fff;
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

/* Right links */
.mega-links li {
  margin-bottom: 10px;
}

.mega-links a {
  text-decoration: none;
  font-weight: 500;
  color: #0b1c3d;
}

.mega-links a:hover {
  color: #fbb034;
}




/* *************Form************ */

.form-card {
  background: #fff;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  height: 90%;
}

/* Trip Buttons */
.trip-btn {
  background: #fff;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
}

.trip-btn.active {
  background: #fbb034;
}

/* Custom input */
.custom-input {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.custom-input input {
  border: none;
  outline: none;
  width: 100%;
}

.arrow {
  color: #666;
}

/* Dropdown */
.country-dropdown {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.15);
  margin-top: 5px;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.country-item {
  padding: 10px;
  cursor: pointer;
}

.country-item:hover {
  background: #f2f2f2;
}

/* Selected country chips */
#selectedCountries {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.country-chip {
  background: #0b1c3d;
  color: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.country-chip span {
  cursor: pointer;
  font-weight: bold;
}

.age-box {
  width: 17%;
}

.add-age {
  background: #fbb034;
  border: none;
  font-size: 20px;
  width: 50px;
}



/* ================= MOBILE MENU ================= */
@media (max-width: 991px) {

  .navbar-collapse {
    position: fixed;
    inset: 0;
    background: #fff;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
  }

  .navbar-nav {
    margin-left: 0;
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }

  /* DEFAULT BLACK */
  .nav-link {
    color: #000 !important;
  }

  /* ONLY CLICK PAR RED */
  .nav-link.active {
    color: #e53935 !important;
    font-weight: 600;
  }

  /* MEGA FIX */
  .mega-dropdown {
    position: relative !important;
    width: 100% !important;
  }

  .mega-dropdown .col-lg-4,
  .mega-dropdown .col-lg-5 {
    display: none !important;
  }

  .mega-dropdown .col-lg-3 {
    display: block !important;
    width: 100%;
  }

  .mega-links li a {
    font-size: 16px;
    color: #000;
  }

  /* ARROW */
  .nav-link.dropdown-toggle::after {
    transition: .3s;
  }

  .nav-link.show::after {
    transform: rotate(180deg);
  }

  /* MOBILE PAR BLACK NAHI */
  .navbar.dropdown-active {
    background: #fff !important;
  }

}


/* ***************Quotetion Section ******************** */
.top-bar {
  background: #0b2a4a;
  color: #fff;
  padding: 14px 24px;
  display: flex;
  align-items: center;
  position: relative;
 
  
}

.top-left a{
  font-size: 14px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  width: 25px;
  margin-left: 140px;
  
}
.back-icon{
  font-size: 34px;
  line-height: 1;
}

.top-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-center img {
  height: 28px;
  background: transparent;
  display: block;
}

.stepper {
  background: #fff;
  padding: 26px 0 22px;
  
}

.bottom-shadow {
  box-shadow: 0 10px 12px -4px rgba(0, 0, 0, 0.18);
}



/* steps container */
.stepper-steps {
  max-width: 1100px;
  margin: auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  position: relative;
}

/* connecting line */
.stepper-steps::before {
  content: "";
  position: absolute;
  top: 20px;                
  left: 70px;
  right: 70px;
  height: 2px;
  background: #cfd8e3;
  z-index: 1;
  
}

/* each step */
.stepper-step {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 140px;
 
}

/* button reset */
.stepper-step-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
}

/* circle icon */
.stepper-step-indicator {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #cfd8e3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 8px;
}
.stepper-step-indicator-plan{
   width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  margin-bottom: 8px;
}


/* completed */
.completed .stepper-step-indicator {
  background: #0b5ed7;
  color: #fff;
  border-color: #0b5ed7;
}

/* plan option airplane */
.plan-icon {
  height: 38px; 
  font-size: 26px;
  
  color: #0b5ed7;
}

/* labels */
.stepper-step-label {
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

/* upcoming empty */
.empty {
  background: #fff;
}

/* ===== DETAILS ROW ===== */
.details-row {
  background: #fff;
  padding: 24px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #0b2a4a;
}

.details-row strong {
  font-weight: 600;
}

.detail.center,
.detail.right {
  color: #0b2a4a;
}

.edit-btn {
  margin-left: 12px;
  background: #e9f1ff;
  color: #2d7ff9;
  border: 1px solid #cfe0ff;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}

.plan-section {
  padding: 40px 0;
  background: #fff;
}

.plan-box {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  overflow: hidden;
}

.plan-header {
  border-bottom: 1px solid #eee;
}

.plan-col {
  text-align: center;
  padding: 30px 20px;
}

.featured {
  background: #f1f1f1;
}

.plan-icon {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  margin: auto;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 12px;
}

.navy {
  background: #0b2340;
}

.yellow {
  background: #fbb034;
}

.price {
  font-size: 34px;
  font-weight: 700;
}

.price span {
  font-size: 20px;
}

.navy-text {
  color: #0b2340;
}

.yellow-text {
  color: #fbb034;
}

.from {
  font-size: 14px;
  color: #999;
}

.total {
  font-size: 13px;
  color: #777;
}

.note {
  font-size: 11px;
  color: #999;
  margin-top: 6px;
}

.plan-row {
  display: flex;
  padding: 10px 15px;
  border-top: 1px solid #eee;
  /* align-items: center; */
}

.col-title {
  font-size: 13px;
}

.col-val {
  font-size: 13px;
}

.muted {
  color: #999;
}

.section-title {
  font-weight: 600;
  color: #0b2340;
  background: #fafafa;
}

.form-select {
  font-size: 13px;
  width: auto;
  margin: auto;
}

.plan-footer {
  padding: 25px 20px;
  border-top: 1px solid #eee;
}

.choose-btn {
  width: 160px;
  font-size: 13px;
  font-weight: 600;
  padding: 10px;
}

.navy-btn {
  background: #0b2340;
  color: #fff;
}

.yellow-btn {
  background: #fbb034;
  color: #fff;
}

.policy-link {
  font-size: 12px;
  color: #0b2340;
  margin-top: 8px;
}

.show-link {
  font-size: 13px;
  color: #0b5ed7;
  text-decoration: underline;
}
.shadow-row {
  box-shadow:
    0 -10px 8px -6px rgba(0, 0, 0, 0.15);
   
}
.shadow-row1 {
  box-shadow:
    0  10px 8px -6px rgba(0, 0, 0, 0.15);
   
}
.plan-row1 {
  display: flex;
  border: 1px solid #e0e0e0;
}

.col-title,
.col-val {
  padding: 12px 15px;
  flex: 1;
  border-right: 1px solid #e0e0e0;
}

.col-val:last-child {
  border-right: none;
}

.grey-bg {
  background-color: #f5f5f5;
}



.muted {
  color: #666;
}


.footer{
  background: #0b1c3d;
}
